[submodule "gate-core"]
	path = gate-core
	url = https://github.com/GateNLP/gate-core.git
[submodule "gate-plugin-archetype"]
	path = gate-plugin-archetype
	url = https://github.com/GateNLP/gate-plugin-archetype.git
